<odoo>
    <data>
  
      <!-- Top menu item -->
  
      <menuitem name="Convalidation App" id="convalidation_app.menu_root" />
  
      <!-- menu categories -->
  
      <menuitem name="Alumn" id="convalidation_app.menu_alumn" parent="convalidation_app.menu_root" />
      <menuitem name="Module" id="convalidation_app.menu_module" parent="convalidation_app.menu_root" />
      <menuitem name="Cycle" id="convalidation_app.menu_cycle" parent="convalidation_app.menu_root" />
      <menuitem name="Convalidation" id="convalidation_app.menu_convalidation" parent="convalidation_app.menu_root" />
  
      <!-- actions -->
  
      <menuitem name="Alumn" id="convalidation_app.menu_alumn_list" parent="convalidation_app.menu_alumn" action="convalidation_app.action_window_alumn" />
      <menuitem name="Module" id="convalidation_app.menu_module_list" parent="convalidation_app.menu_module" action="convalidation_app.action_window_module" />
      <menuitem name="Cycle" id="convalidation_app.menu_cycle_list" parent="convalidation_app.menu_cycle" action="convalidation_app.action_window_cycle" />
      <menuitem name="Convalidation" id="convalidation_app.menu_convalidation_list" parent="convalidation_app.menu_convalidation" action="convalidation_app.action_window_convalidation" />
  
    </data>
  </odoo>